In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [2]:
df = pd.read_csv('../data/the-office_lines_sentences_preprocessed.csv', index_col=0)

In [3]:
df

,line_id,Character,Sentence,Season,Episode_Number
0,0,Michael,All right Jim,1,1
1,0,Michael,Your quarterlies look very good,1,1
2,0,Michael,How are things at the library,1,1
3,1,Jim,"Oh, I told you",1,1
4,1,Jim,I couldn’t close it,1,1
...,...,...,...,...,...
111093,61305,Jim,This stupid…wonderful…boring…amazing job,9,23
111094,61306,Pam,I thought it was weird when you picked us to ...,9,23
111095,61306,Pam,But all in all…I think an ordinary paper comp...,9,23
111096,61306,Pam,There’s a lot of beauty in ordinary things,9,23
111097,61306,Pam,Isn’t that kind of the point,9,23

In [ ]:
# Which lines are most characteristic for michael? - let's see with TF-IDF
# TF-IDF =: # of times michael uses a line / # of artists that use this line at least once

character = 'Michael'
lines = 'Sentence'

counts = df[df['Character'] == character][lines].value_counts()
df_n = df.groupby(lines)['Character'].nunique().sort_values(ascending=False)

michael_lines = []
i = 0
for line, count in zip(counts.index, counts.values):
    if line == '':
        pass
    else:
        n_characters = df_n.loc[line]
        tf_idf = count/n_characters
        michael_lines.append((line, count, n_characters, tf_idf))
        i+=1
        if i%1000 == 0:
            print(f'line: {line}, count {count}, n_characters: {n_characters}, TF-IDF: {tf_idf:.1f}')

In [14]:

character = 'Michael'
lines = 'Sentence'

counts = df[df['Character'] == character][lines].value_counts()
df_n = df.groupby(lines)['Character'].nunique().sort_values(ascending=False)

michael_lines = []
i = 0
for line, count in zip(counts.index, counts.values):
    n_characters = df_n.loc[line]
    tf_idf = count/n_characters
    michael_lines.append((line, count, n_characters, tf_idf))
    i+=1
    if i%5000 == 0:
        print(f'line: {line}, count {count}, n_characters: {n_characters}, TF-IDF: {tf_idf:.1f}')

line:  Jim, Dwight, please excuse us, count 1, n_characters: 1, TF-IDF: 1.0
line:  That’s what she… , count 1, n_characters: 1, TF-IDF: 1.0
line:  You know what, I’m just being fair, count 1, n_characters: 1, TF-IDF: 1.0
line:  Like my need to be praised, count 1, n_characters: 1, TF-IDF: 1.0

In [16]:
df_michael_tfidf = pd.DataFrame(michael_lines, columns = ['line', 'count', 'n_others', 'tfidf'])
df_michael_tfidf.sort_values(by='tfidf', ascending=False).head(50)

,line,count,n_others,tfidf
105,The Electric City,10,1,10.000000
114,Roasted,9,1,9.000000
32,Boom,25,4,6.250000
172,I’m Michael Scott,6,1,6.000000
16,Here we go,68,13,5.230769
200,"What’s wrong, Dad",5,1,5.000000
210,We are,5,1,5.000000
215,Check that out,5,1,5.000000
227,We did,5,1,5.000000
228,You me,5,1,5.000000
232,Carol,5,1,5.000000
111,Idiot,9,2,4.500000
117,Who else,9,2,4.500000
0,Okay,309,74,4.175676
7,You know what,101,25,4.040000
316,"Okay, Dwight",4,1,4.000000
279,[singing] You down with the Dundies,4,1,4.000000
312,You suck,4,1,4.000000
72,Scranton,12,3,4.000000
267,I know all that,4,1,4.000000
49,Well…,16,4,4.000000
272,Hey hey,4,1,4.000000
292,We have fun,4,1,4.000000
289,"Oh, here we go",4,1,4.000000
261,Eeee,4,1,4.000000
283,That’s not gonna happen,4,1,4.000000
280,May I,4,1,4.000000
1,No,302,83,3.638554
61,Look at that,14,4,3.500000
157,I,7,2,3.500000
103,"I know, I know",10,3,3.333333
3,Yes,193,61,3.163934
12,Come on,78,25,3.120000
416,Calm down,3,1,3.000000
411,[knock on door] Yeah,3,1,3.000000
318,They call it Scranton,3,1,3.000000
404,That is great,3,1,3.000000
379,Lists are good,3,1,3.000000
403,"You meet new friends, and tie that yarn, and ...",3,1,3.000000
193,[imitating E,6,2,3.000000
388,Goodbye Toby,3,1,3.000000
185,Give me the phone,6,2,3.000000
398,O-kay,3,1,3.000000
394,Push it,3,1,3.000000
383,It’s Michael,3,1,3.000000
406,[phone rings],3,1,3.000000
323,It’s too late,3,1,3.000000
320,Get set,3,1,3.000000
420,PowerPoint,3,1,3.000000
375,How you doin’,3,1,3.000000

In [26]:
df_michael_tfidf[df_michael_tfidf.line.str.contains("what she said")]

,line,count,n_others,tfidf
107,That’s what she said,10,10,1.0
3471,[muffled] That’s what she said,1,1,1.0
5091,"It squeaks when you bang it, that’s what she ...",1,1,1.0
5679,[from his office] That’s what she said,1,1,1.0
6793,[grimacing] That’s what she said,1,1,1.0
8116,"[he hands them the body mic, when he speaks i...",1,1,1.0
12005,"A, that’s what she said, and B, I wanted it t...",1,1,1.0
14100,"Uh, that’s what she said",1,1,1.0
19331,"And up comes the toolbar, that’s what she said",1,1,1.0
20353,…that’s what she said,1,1,1.0
21790,Michael starts to laugh] That’s what she said,1,1,1.0

In [30]:
df_michael_tfidf['line2'] = df_michael_tfidf['line'].str.replace(r"\[.*\]","")

/var/folders/gl/lf_ddy9561j7lbb3hpj3ks2w0000gn/T/ipykernel_8741/733525763.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_michael_tfidf['line2'] = df_michael_tfidf['line'].str.replace(r"\[.*\]","")

In [31]:
df_michael_tfidf[df_michael_tfidf.line2.str.contains("what she said")]

,line,count,n_others,tfidf,line2
107,That’s what she said,10,10,1.0,That’s what she said
3471,[muffled] That’s what she said,1,1,1.0,That’s what she said
5091,"It squeaks when you bang it, that’s what she ...",1,1,1.0,"It squeaks when you bang it, that’s what she ..."
5679,[from his office] That’s what she said,1,1,1.0,That’s what she said
6793,[grimacing] That’s what she said,1,1,1.0,That’s what she said
8116,"[he hands them the body mic, when he speaks i...",1,1,1.0,That’s what she said
12005,"A, that’s what she said, and B, I wanted it t...",1,1,1.0,"A, that’s what she said, and B, I wanted it t..."
14100,"Uh, that’s what she said",1,1,1.0,"Uh, that’s what she said"
19331,"And up comes the toolbar, that’s what she said",1,1,1.0,"And up comes the toolbar, that’s what she said"
20353,…that’s what she said,1,1,1.0,…that’s what she said
21790,Michael starts to laugh] That’s what she said,1,1,1.0,Michael starts to laugh] That’s what she said